[build-system]
# Should be mirrored in requirements-build.txt
requires = [
    "cmake>=3.21",
    "ninja",
    "packaging",
    "setuptools>=61",
    "setuptools-scm>=8.0",
    "torch == 2.8.0",
    "wheel",
    "jinja2",
]
build-backend = "setuptools.build_meta"
