pydantic >= 2.11.7
numpy
cmake>=3.21
ninja
packaging
setuptools>=61
wheel
tqdm
transformers >= 4.55.2
fastapi[standard] >= 0.115.0
openai >= 1.99.1
logger
torch==2.8.0
torchvision==0.23.0
zmq
aiohttp
datasets
pillow
flash_attn==2.8.3
einops # qwen2_5_vl
